body {
  background-color: #eee;
}

nav {
  height: 100px;
  background-color: #fff;
}

ul {

}

ul li {
  list-style: none; /* get rid of bullet */
  display: inline-block; /* horizontal layout */
  float: left; /* removes space in between list elements */
  line-height: 100px; /* moves text south */
}

ul li a {
  display: block; /* can click link even though not on text */
  text-decoration: none; /* get rid of underline */
  font-size: 14px;
  font-family: arial;
  padding: 0 20px; /* space in between list items */
}

ul li a:hover {
  color: red;
}
